*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
   background-image: url("earth.gif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;    
     display: flex;
     box-shadow: 1px 2px 3px 4px rgb(239, 243, 242);
}

   header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    text-align: center;
    font-size: 40px;
     -webkit-text-fill-color: rgb(239, 245, 247);
     text-shadow: 2px 3px 4px rgb(10, 6, 6);
}

header p{
    color: rgb(228, 239, 239);
    font-size: 20px;
}

nav a {
     text-decoration: none;
     text-shadow: 2px 2px 4px rgb(14, 13, 13);
    color: rgb(250, 253, 253);
    padding: 8px 15px;
    margin: 5px;
    border-radius: 8px;
    display: inline-block;
    transition: 0.3s;
}

nav {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 20px;
    border-radius: 50px;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
}

nav a:hover {
    color: rgb(243, 246, 247);
    background: rgb(136, 231, 238);
}

section {
    width: 80%;
    max-width: 820px;
    margin: 20px auto;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(63, 62, 62, 0.4);
    color: white;
    text-shadow: 2px 3px 4px black;
}

Section a {
    background-color: rgb(91, 96, 97);
    text-decoration: none;
    color: rgb(97, 205, 238);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
     transition: 0.3s;  
}

section a:hover {
    color: rgb(238, 242, 243);
    background: rgba(255, 255, 255, 0.2);
}   
section h2 {
    text-align: center;
    color: rgb(23, 184, 233);   
}

section h3 {
    text-align: center;
    color: white;
}
section p {
    line-height: 1.6;
    text-align: center;
     color: rgb(239, 245, 247);
}

#about {
    border: 1px solid black;
    padding: 20px;
}

#projects {
    border: 1px solid black;
    padding: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.project img {
     width: 100%;
    max-width: 400px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.section ul {
    list-style-position: inside;
     list-style-type: square;
}

#skills {
    border: 1px solid black;
    padding: 20px; 
}

#skills ul {
    list-style-position: inside;
    padding-left: 0;
}

#experience {
    border: 1px solid black;
    padding: 20px;
}

#experience ul {
    list-style-position: inside;
    padding-left: 0;
}

#education {
    border: 1px solid black;
    padding: 20px; 
}

#achievements {
    border: 1px solid black;
    padding: 20px; 
}

#hobbies {
    border: 1px solid black;
    padding: 20px;  
}

#hobbies ul {
    list-style-position: inside;
    padding-left: 0;
}

 ul li {
    margin: 10px 0px;
    color: rgb(246, 253, 255);
    text-align: left;
}

#contact {
    border: 1px solid black;
    padding: 20px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

form input, form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200%;
    max-width: 750px;
    background-color: rgba(42, 42, 43, 0.8);
    color: rgb(247, 247, 247);
    box-shadow: 2px 3px 4px rgb(239, 243, 242);
}

form input[type="submit"] {
    background-color: rgb(23, 184, 233);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

footer {
    text-align: center;
    padding: 20px;
    color: rgb(14, 229, 71);
     text-shadow: 2px 3px 4px rgb(221, 215, 215);
}

img {
    width: 100%;
    height: auto;   
}
@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}

@media (min-width: 768px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}

